# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Environment variables – NIEMALS commiten!
.env

# Virtual environments
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
